/* exp.css */

body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid grey;
    padding: 2px 5px;
}

.stats td {
    padding-left: 15px;
    text-align: right;
}

.stats th {
    font-weight: normal;
}

.stats tr.future td {
    color: lightgray;
}

#status > p{
    margin: 0;
    padding: 7px;
}

#status .success {
    color: #5CAD5C;
    background: #E0F7DF;
}

#status .failure {
    color: #CF6661;
    background: #FFDDDB;
}

#tooltip {
    position: absolute;
    background: #eee;
    padding: 8px;
    border: 1px solid grey;
}

#tooltip p {
    margin: 0;
}
